<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DispatchServlet</servlet-name>
    <servlet-class>com.servlet.DispatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BbsServlet</servlet-name>
    <servlet-class>com.servlet.BbsServlet</servlet-class>
  </servlet>
  <filter>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.filter.IndexFilter</filter-class>
  </filter>



  <servlet-mapping>
    <servlet-name>DispatchServlet</servlet-name>
    <url-pattern>/servlet/DispatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BbsServlet</servlet-name>
    <url-pattern>/BbsServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
